body {
    margin: auto;
    height: 100vh;
    width: 100vw;
}

h1{
    position: relative;
    left: 39%;
    top: 8%;
    height: 19%;
    text-decoration: underline;
    text-underline-position: under;
}



body > header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    z-index: 91;
    background-color: #40036e;
    background-repeat: no-repeat, repeat;
    background-image: url("#");
    background-size: 112% 81%;
}

body>header>div{
    font-size: 168%;
    position: absolute;
    top: 1.7vh;
    left: 2vw;
    /* bottom: 0; */
    margin: auto;
    color: greenyellow;
}

body > header > nav > ul {
    right: 1%;
    position: absolute;
    /* right: 30px; */
    margin-top: 10px;
    font-size: 161%;
    font-family: 'Lobster', cursive;
    list-style: none;
    color: white;
}

body > header > nav > ul > li {
    padding: 0 10px 0 10px;
    display: inline-block;
    cursor: pointer;
    border-right: 2px solid black;
}

body > header > nav > ul > li:first-child {
    border-left: 2px solid black;
}

body > header > nav > ul > li > i {
    padding-right: 15px;
    font-size: 20px;
    color: #ccffcd;
}

body > header > nav > ul > li > a {
    color: #ccffcd;
    text-decoration: none;
}

body > header > nav > ul > li:hover a {
    color: red;
    text-decoration: none;
}

body > header > nav > ul > li:hover i {
    color: red;
    text-decoration: none;
}

#Home {
    height: 92vh;
    width: 100vw;
    position: static;
    top: 2rem;
}


#About {
    height: 100vh;
    width: 100vw;
//background-color: blue;
}

#About>div{
    height: 19rem;
    width: 95%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 16px;
    background-color: darkgray;
}

#About>div>p{
    font-size: 122%;
    position: relative;
    width: 96%;
    left: 0;
    right: 0;
    margin: auto;
}

#About>div>h1{
    position: inherit;
    left: 39%;
    top: 8%;
    height: 19%;
    text-decoration: underline;
    text-underline-position: under;
}

#About>aside>div{
    background-color: yellow;
    display: inline-flex;
    width: 15rem;
    height: 15rem;
    position: relative;
    left: 18rem;
    right: 0;
    top: 5rem;
    margin: auto;
}

#About>aside>div:nth-child(1){
    background-color: darkgray;
    transform: rotate(-53deg);
}
#About>aside>div:nth-child(1)>div{
    width: 15rem;
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 15rem;
    transform: rotate(-38deg);
    background-color: red;
    border: 5px;
}
#About>aside>div:nth-child(1)>div>div{
    width: 14rem;
    position: relative;
    background-repeat: no-repeat, repeat;
    background-image: url(assets/image/IMG-20220818-WA0015.jpg);
    background-size: 102% 100%;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 14rem;
    transform: rotate(90deg);
    border: 5px;
    margin-top: 8px;
    border-radius: 18px;
}


#About>aside>div:nth-child(2){
    left: 24rem;
    background-color: darkgray;
    transform: rotate(-53deg);
}
#About>aside>div:nth-child(2)>div{
    width: 15rem;
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 15rem;
    transform: rotate(-38deg);
    background-color: red;
    border: 5px;
}
#About>aside>div:nth-child(2)>div>div{
    width: 14rem;
    position: relative;
    background-repeat: no-repeat, repeat;
    background-image: url(assets/image/IMG-20220818-WA0014.jpg);
    background-size: 102% 100%;
    left: 0;
    right: 0;
    margin: auto;
    height: 14rem;
    transform: rotate(90deg);
    border: 5px;
    margin-top: 8px;
    border-radius: 18px;
}


#About>aside>div:nth-child(3){
    left: 30rem;
    background-color: darkgray;
    transform: rotate(-53deg);

}
#About>aside>div:nth-child(3)>div{
    width: 15rem;
    position: relative;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 15rem;
    transform: rotate(-38deg);
    background-color: red;
    border: 5px;
}
#About>aside>div:nth-child(3)>div>div{
    width: 14rem;
    position: relative;
    background-repeat: no-repeat, repeat;
    background-image: url(assets/image/IMG-20220815-WA0068.jpg);
    background-size: 102% 100%;
    left: 0;
    right: 0;
    margin: auto;
    height: 14rem;
    transform: rotate(90deg);
    border: 5px;
    margin-top: 8px;
    border-radius: 18px;
}

#Description {
    height: 100vh;
    width: 100vw;
//background-color: blue;
}

#Description>div{
    height: 19rem;
    width: 95%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 16px;
    /*background-color: darkgray;*/
}

#Description>div>p{
    font-size: 122%;
    position: relative;
    width: 96%;
    left: 0;
    right: 0;
    margin: auto;
}